<h1>Create A New Task</h1>

<h3><%= link_to "Back To Task", tasks_path %></h3>
<%= form_with model: @task , class: 'form-control' do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :details %><br>
  <%= f.text_field :details %><br>
  <%= f.submit 'Add To Task' %>
  <% end %>
